body {
    background-color: #242B33;
}

#back_head {
    background-image: url(/assets/images/Rectangle.png);
    width: 100%;
    height: 100vh;
}

.menu {
    margin: 40px;
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu:hover {
    color: rgba(212, 193, 127, 1);
}

.menu:active {
    color: #139da7;
}

.main_heading {
    text-align: center;
    width: 32%;
    font-family: playfair display, Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: rgba(212, 193, 127, 1);

}

.heading {
    margin-left: 22vw;
    font-family: playfair display, Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: rgba(212, 193, 127, 1);
}

.contacts {
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.text {
    width: 9vw;
    font-family: roboto, Times, monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

#history {
    width: 13vw;
}

.foto,
.foto2 {
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    width: 25vw;
    height: 35vh;
}

.foto2 {
    background-image: url(/assets/images/loft_2floor.jpg);
}

.foto {
    background-image: url(/assets/images/loft_3floor.jpg);
}


#about {
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.forms {
    width: 255px;
    height: 50px;
    text-align: center;
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    background: #FFFFFF50;
    color: #FFFFFF;
    border: none;
}

.forms:focus {
    background: #6d6d6d50;
}

.attention {
    text-align: center;
    margin-top: 7px;
    width: 255px;
    height: 50px;
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.push {
    width: 255px;
    height: 50px;
    text-align: center;
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    background: #D4C17F;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}


.address {
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

#email {
    font-family: raleway, Times, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #D4C17F;
    text-decoration: none;
}